@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto:wght@300&family=Source+Code+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.search-section{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00D9C0;
}

form {
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-bar{
    width: 100%;
    height: 6vh;
    display: flex;
    border: none;
    border-radius: 25px;
    margin: auto;
    padding: 10px;
}